.hero img {
	max-height: 200px;
}

.hero {
	padding-block: 1.5rem;
}

.meetup-callout {
	margin-bottom: 2rem;
	padding: 1.2rem;
	border: 1px solid var(--sl-color-gray-5);
	border-radius: 0.5rem;
	box-shadow: var(--sl-shadow-sm);
}